<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/FashionHub-logo.png" alt="esto es un logo">
        <article class="one">
            <a href="">Colección</a>  
            <a href="">Accesorios</a>  
            <a href="">Denim</a>  
            <a href="">Sostenibilidad</a>
        </article>
        <div>
            <i class="fas fa-search"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-user"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </header>

    <main>
        <img src="/img/Banner-ofertas.jpg" alt="Banner-ofertas" class="banner">
        <article>
            <div>
                <img src="/img/pantalon-finne.webp" alt="ropa">
                <button>
                    <p>Ver Más</p>
                </button>
            </div>
            <div>
                <img src="/img/pantalon-cargo-turci.webp" alt="ropa">
                <button>
                    <p>Ver Más</p>
                </button>
            </div>
            <div>
                <img src="/img/pantalon-palazzo-artemi" alt="ropa">
                <button>
                    <p>Ver Más</p>
                </button>
            </div>
        </article>
        <article>
            <div>
                <img src="/img/vestido-thomy.webp" alt="ropa">
                <button>
                    <p>Ver Más</p>
                </button>
            </div>
            <div>
                <img src="/img/remera-blusa-little.webp" alt="ropa">
                <button>
                    <p>Ver Más</p>
                </button>
            </div>
            <div>
                <img src="/img/vestido-rifa-negro.webp" alt="ropa">
                <button>
                    <p>Ver Más</p>
                </button>
            </div>
        </article>
        <h1>TAMBIÉN TE PUEDE INTERESAR...</h1>
        <section>
            <div>
                <img src="/img/vestido-sunset.webp" alt="ropa">
                <div>
                    <h2>Vestido</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
                    <button>
                        <h5>Ver Más</h5>
                    </button>
                </div>
            </div>
            <div>
                <img src="/img/remera-remeron-real-prince.webp" alt="ropa">
                <div>
                    <h2>Vestido</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
                    <button>
                        <h5>Ver Más</h5>
                    </button>
                </div>
            </div>
            <div>
                <img src="/img/vestido-rifa-azul.webp" alt="ropa">
                <div>
                    <h2>Vestido</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
                    <button>
                        <h5>Ver Más</h5>
                    </button>
                </div>
            </div>
            <div>
                <img src="/img/pantalon-babucha-thiara.webp" alt="ropa">
                <div>
                    <h2>Vestido</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
                    <button>
                        <h5>Ver Más</h5>
                    </button>
                </div>
            </div>
        </section>
        <img src="/img/cabecera-anuncios.png" alt="anuncios" class="anuncios">
    </main>

    <footer>
        <div class="creditos">
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div class="creditos">
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div class="creditos">
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div class="redes">
            <img src="/img/FashionHub-logo.png" alt="esto es un logo">
            <div>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </footer>
</body>
</html>
