main article div button p{
    color: #fff;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1 {
    font-size: 5.5rem;
}
main article div {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 25px;
}
main article{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 80vw;
}
main article div img{
    width: 100%;
    align-self: center;
}
main article div button {
    align-self:flex-start;
    width: 50%;
    margin: 1rem;
}
main article div button p{
    padding: 0.25rem;
    font-size: 1.5rem;
}

@media(min-width:426px){

    /*main article{
        grid-template-columns: repeat(2,1fr);
    }*/

    main section div div p {
        display: block;
        margin-top: 5px;
        margin-bottom: 25px;

    }
}

@media(min-width:640px){

    main article{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(min-width:768px){

    /*main article{
        grid-template-columns: repeat(4,1fr);
    }*/
    main section{
        width: 25%;
    }
    main section div div button{
        width: 70%;
    }
    main h1{
        margin: 35px 0px;
    }
    main section div div button h5{
        margin: 10px;
    }
}

@media(min-width:960px){

    main article{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(min-width:1240px){

    main article{
        grid-template-columns: repeat(4,1fr);
    }
}

@media(min-width:2560px){

    main article div button{
        width: 35%;
        margin: 20px;
        height: 6vh;
    }
    main section div div button{
        height: 120px;
    }

    main section div div p{
        margin-top: 25px;
        margin-bottom: 50px;
    }

}
