/*---------------------º All º---------------------*/
/*
button{
    background-color: #acc94a;
    border: none;
    border-radius: 15px;
}
button p{
    color: white;
    font-family: 'Cherry Swash', serif;
}
button h5{
    color: white;
    font-family: 'Cherry Swash', serif;
}
a{
    color: #461111;
    text-decoration: none;
    font-family: 'Cherry Swash', serif;
}
h2{
    color: #461111;
    font-family: 'Lobster', sans-serif;
}
p{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
li{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
h1{
    color: #461111;
    font-family: 'Lobster', sans-serif;
}
i{
    color: #461111;
}
*/
/*------------------------------------º header º------------------------------------*/
/*
header {
    display: flex;
    background-color:#f0bfd0;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    padding: 10px;
    flex-direction: column;
    align-items: center;

}
header section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}
header div i{
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    margin: 2px;
}
.one{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 5%;
}
header article a{
    font-size:105%;
    margin: 0.5vh;
}
header img {
    width: 9rem;
    margin: 5px;
}
*/
/*------------------------------------º footer º------------------------------------*/
/*
footer {
    display: flex;
    background-color: #f9efb2;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 10px;
    justify-content: space-evenly;
    margin-top: 40px;
}
footer section{
    display: none;
}
.redes{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}
footer .redes img{
    width: 50%;
    margin: 10px;
}
footer .redes i{
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    margin: 2px;
    font-size:x-large;
}
footer .redes div{
    display: flex;
    justify-content: center;
}

footer .creditos{
    display: none;
}
*/
/*------------------------------------º main-article º------------------------------------*/
main article div button p{
    color: #fff;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main article div {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 25px;
}
main article{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 80vw;
}
main article div img{
    width: 100%;
    align-self: center;
}
main article div button {
    align-self:flex-start;
    width: 50%;
    margin: 1rem;
}
main article div button p{
    padding: 0.25rem;
    font-size: 1.5rem;
}
.banner{
    width: 90%;
    margin: 40px 0px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
}
/*------------------------------------º main-section º------------------------------------*/
main section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
}
main section div div button h5{
    color: #fff;
}
/*main h1{
    margin: 10px 0%;
    font-size: 115%;
}*/
main section div{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 3px #461111;
    margin: 1rem;
    width: 80%;
}
.sectionBox-shadow{
    box-shadow: none;
    transition: all 250ms;
    width: none;
}
.sectionBox-shadow:hover{
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    width: 85%;
}
main section div div{
    display: flex;
    align-self: center;
    align-items: center;
    border:none;
    width: 90%;
}
main section div div button{
    width: 105%;
    height: 3rem;
}
main section div div h2{
    font-size: 2.8rem;
    margin: 5px;
}
main section div div p{
    display: none;
}
main section div div button h5{
    font-size: 1.3rem;
    margin: 15px;
}
.anuncios{
    width: 50%;
    margin: 40px 0px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
}

/*------------------------------------º media queries º------------------------------------*/

@media(min-width:426px){
    /*
    header article a{
        font-size: 220%;
    }*/
    main article{
        grid-template-columns: repeat(2,1fr);
    }
    /*main h1{
        font-size: 250%;
    }*/
    main section div div p {
        display: block;
        margin-top: 5px;
        margin-bottom: 25px;
        /*font-size: 150%;*/
    }
    /*main section div div button h5{
        font-size: 150%;
    }*/
    /*
    footer .redes img{
        width: 70%;
        align-self: center;
    }
    footer .redes div i{
        font-size: xx-large;
    }*/
}

@media(min-width:768px){
    /*
    header{
        justify-content: space-evenly;
        flex-direction: row;
    }
    header img{
        width: 45vw;
    }
    header article{
        font-size: 0.6rem;
    }
    header div{
        font-size: 150%;
    }*/
    main article{
        grid-template-columns: repeat(4,1fr);
    }
    main section{
        width: 25%;
    }
    main section div div button{
        width: 70%;
        /*font-size: x-large;*/
    }/*
    footer section{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer .creditos{
        display: flex;
        margin: 5px;
        font-size: 100%;
        flex-wrap: wrap;
    }*/
}

@media(min-width:1024px){
    /*
    header section{
        flex-direction: row;
    }
    .one{
        margin-bottom: 0;
    }
    header article{
        font-size: 80%;
    }
    header img{
        width: 20vw;
    }
    header div{
        font-size: 90%;
    }*/
    main h1{
        /*font-size: 3.5rem;*/
        margin: 35px 0px;
    }
    /*main section div div h2{
        font-size: 4.5rem;
    }*/
    main section div div button h5{
        /*font-size: xx-large;*/
        margin: 10px;
    }
    /*main article div button p{
        font-size: xx-large;
    }*//*
    footer .creditos{
        font-size: 180%;
    }*/
}
/*@media(min-width:1440px){
    header article{
        font-size: 120%;
    }
    header div{
        font-size: 130%;
    }

    footer .redes img{
        width: 90%;
    }
    footer .redes div i{
        font-size: 250%;
    }
}*/
@media(min-width:2560px){
    /*
    header img{
        width: 15vw;
    }
    .one{
        width: 40%;
    }
    header article{
        font-size: 150%;
    }
    header div{
        font-size: 200%;
    }
    footer .creditos{
        font-size: 200%;
    }
    footer .redes img{
        width: 120%;
    }
    footer .redes div i{
        font-size: 400%;
        padding: 15px;
        margin: 10px;
    }*/
    main article div button{
        width: 35%;
        margin: 20px;
        height: 6vh;
    }
    main section div div button{
        height: 120px;
    }
    /*main section div div h2{
        font-size: 5rem;
    }*/
    main section div div p{
        /*font-size: 200%;*/
        margin-top: 25px;
        margin-bottom: 50px;
    }
    /*main section div div button h5{
        font-size: 200%;
    }*/
    /*main h1{
        font-size: 600%;
    }*/
}
