/*---------------------º All (Diana)º---------------------*/
button p{
    color: white;
    font-family: 'Cherry Swash', serif;
}
button h5{
    color: white;
    font-family: 'Cherry Swash', serif;
}
a{
    color: #461111;
    text-decoration: none;
    font-family: 'Cherry Swash', serif;
}
h2{
    color: #461111;
    font-family: 'Lobster', sans-serif;
}
p{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
li{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
h1{
    color: #461111;
    font-family: 'Lobster', sans-serif;
}
i{
    color: #461111;
}
/*------------------------------------º header º------------------------------------*/
header {
    display: flex;
    background-color:#f0bfd0;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    padding: 10px;
    flex-direction: column;
    align-items: center;

}
header div i{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 2px;
}
.one{
    display: flex;
    justify-content: center;
    background-color: white;
}
header article a{
    font-size:105%;
    margin: 0.5vh;
}
header img {
    width: 33vw;
    margin: 5px;
}
/*-------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#social-login {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

#social-login:hover {
    background-color: #222;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
    display: block;
}
