/*--------NORMALIZACIÓN--------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, span{
    color: #461111;
    text-decoration: none;
    font-family: 'Cherry Swash', serif;
}
p, button, li, i , label{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
table{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
h1, h2, h3, h4, h5, h6{
    color: #461111;
    font-family: 'Lobster', sans-serif;
}
button{
    border: none;
    background-color: #acc94a;
    cursor: pointer;
    border-radius: 10px;
    transition:background-color, 250ms;
}
button:hover{
    background-color: #8fb900;
}
/*--------Styles para Header--------*/

header {
    display: flex;
    background-color:#f0bfd0;
    box-shadow: 0px 0px 11px rgba(0,0,0,0.42);
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.5rem;

}
.img-logo{
    width: 9rem;
}
.header-article{
    margin: 1rem 0;
    padding: 0.5rem 0.7rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    order: 2;
    gap: 0.4rem;
}
.header-article span{
    padding: 0;
    margin: 0;
}
.header-div{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    order: 1;
    gap: 0.75rem;
}
#button-search{
    background-color: #f0bfd0;
}
.fa-search, .fa-heart, .fa-shopping-cart, .fa-plus{
    background-color: white;
    padding: 0.6rem;
    border-radius: 50%;
}
.fa-user{
    background-color: white;
    padding: 0.6rem;
    border-radius: 2rem;
}

/*--------Styles para Footer--------*/

footer {
    /*display: flex;*/
    background-color: #f9efb2;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    margin-top: 2rem;
    padding: 1rem;
    /*justify-content: space-evenly;*/
    border-radius: 0.5rem;
}
.creditos ul{
    margin: 0.5rem;
}
.creditos li{
    display:none
}
#credito-2, #credito-3{
    display: none;
}
.footer-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.redes{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.fa-instagram, .fa-facebook-square, .fa-twitter-square{
    background-color: white;
    padding: 0.5rem 0.595rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

/*--------Media Queries Tablet--------*/

@media(min-width: 768px) {

    /*--------Styles para Header-------- */

    header{
        font-size: 1.1rem;
        justify-content: center;
    }
    .img-logo{
        margin: 0.5rem 2rem;
    }
    .header-article{
        margin-top: 0;
        margin-right: 5rem;
        margin-left: 5rem;
    }
    .header-div{
        margin: 0 4rem;
    }

    /*--------Styles para Footer--------*/

    footer {
        font-size: 1.1rem;
        display: flex;
        justify-content: space-evenly;
    }
    .creditos ul{
        margin: 0.6rem;
    }
    .creditos li{
        display: block;
        text-align: center;
        line-height: 1.5rem;
        list-style-type: none
    }
    #credito-2{
        display: inline-block;
    }
    .footer-bot{
        gap: 0.6rem;
    }
    .redes{
        gap: 1.1rem;
    }
    .fa-instagram, .fa-facebook-square, .fa-twitter-square{
        padding: 0.6rem 0.695rem;
        font-size: 1.6rem;
    }
}

/*--------Media Queries Escritorio--------*/

@media(min-width: 1240px) {

    /*--------Styles para Header-------- */

    header{
        font-size: 1.2rem;
        padding: 0.6rem 0;
    }
    .header-article{
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        order: 1;
    }
    .header-div{
        order: 2;
    }  

    /*--------Styles para Footer--------*/

    footer {
        font-size: 1.2rem;
    }
    .creditos ul{
        margin: 0.7rem;
    }
    .creditos li{
        line-height: 1.7rem;
    }
    #credito-3{
        display: inline-block;
    }
    .footer-bot{
        gap: 0.7rem;
    }
    .redes{
        gap: 1.2rem;
    }
    .fa-instagram, .fa-facebook-square, .fa-twitter-square{
        padding: 0.7rem 0.795rem;
        font-size: 1.7rem;
    }

}




/*///////////////----- ESTILOS de NORMALIZACIÓN, HEADER Y FOOTER de DIANA -----///////////////*/

/*---------------------º All º---------------------*/
/*
button{
    background-color: #acc94a;
    border: none;
    border-radius: 15px;
}
button p{
    color: white;
    font-family: 'Cherry Swash', serif;
}
button h5{
    color: white;
    font-family: 'Cherry Swash', serif;
}
a{
    color: #461111;
    text-decoration: none;
    font-family: 'Cherry Swash', serif;
}
h2{
    color: #461111;
    font-family: 'Lobster', sans-serif;
}
p{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
li{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
h1{
    color: #461111;
    font-family: 'Lobster', sans-serif;
}
i{
    color: #461111;
}
*/
/*------------------------------------º header º------------------------------------*/
/*
header {
    display: flex;
    background-color:#f0bfd0;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    padding: 10px;
    flex-direction: column;
    align-items: center;

}
header section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}
header div i{
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    margin: 2px;
}
.one{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 5%;
}
header article a{
    font-size:105%;
    margin: 0.5vh;
}
header img {
    width: 9rem;
    margin: 5px;
}
*/
/*------------------------------------º footer º------------------------------------*/
/*
footer {
    display: flex;
    background-color: #f9efb2;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 10px;
    justify-content: space-evenly;
    margin-top: 40px;
}
footer section{
    display: none;
}
.redes{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}
footer .redes img{
    width: 50%;
    margin: 10px;
}
footer .redes i{
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    margin: 2px;
    font-size:x-large;
}
footer .redes div{
    display: flex;
    justify-content: center;
}

footer .creditos{
    display: none;
}
*/

/*------------------------------------º media queries º------------------------------------*/
/*
@media(min-width:426px){



    header article a{
        font-size: 220%;
    }



    footer .redes img{
        width: 70%;
        align-self: center;
    }
    footer .redes div i{
        font-size: xx-large;
    }
    
}

@media(min-width:769px){



    header{
        justify-content: space-evenly;
        flex-direction: row;
    }
    header img{
        width: 45vw;
    }
    header article{
        font-size: 0.6rem;
    }
    header div{
        font-size: 150%;
    }

    

    footer section{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer .creditos{
        display: flex;
        margin: 5px;
        font-size: 100%;
        flex-wrap: wrap;
    }

}

@media(min-width:1024px){



    header section{
        flex-direction: row;
    }
    .one{
        margin-bottom: 0;
    }
    header article{
        font-size: 80%;
    }
    header img{
        width: 20vw;
    }
    header div{
        font-size: 90%;
    }


    
    footer .creditos{
        font-size: 180%;
    }

}

@media(min-width:1440px){


    
    header article{
        font-size: 120%;
    }
    header div{
        font-size: 130%;
    }


    
    footer .redes img{
        width: 90%;
    }
    footer .redes div i{
        font-size: 250%;
    }

}

@media(min-width:2560px){



    header img{
        width: 15vw;
    }
    .one{
        width: 40%;
    }
    header article{
        font-size: 150%;
    }
    header div{
        font-size: 200%;
    }



    footer .creditos{
        font-size: 200%;
    }
    footer .redes img{
        width: 120%;
    }
    footer .redes div i{
        font-size: 400%;
        padding: 15px;
        margin: 10px;
    }

}