/*--------NORMALIZACIÓN--------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*html{
    min-height: 100%;
}*/
/*body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}*/
a, span{
    color: #461111;
    text-decoration: none;
    font-family: 'Cherry Swash', serif;
}
p, button, li, i , label{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
table{
    color: #461111;
    font-family: 'Cherry Swash', serif;
}
h1, h2, h3, h4, h5, h6{
    color: #461111;
    font-family: 'Lobster', sans-serif;
}
button{
    border: none;
    background-color: #acc94a;
    cursor: pointer;
    border-radius: 10px;
    transition:background-color, 250ms;
}
button:hover{
    background-color: #8fb900;
}
.mensajeError{
    color: red;
}
.image404{
    text-align: center;
}
.image404 section{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.image404 img{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 60vw;
}
/*--------Styles para Header--------*/

header {
    display: flex;
    flex-direction: column;
    background-color:#f0bfd0;
    box-shadow: 0px 0px 11px rgba(0,0,0,0.42);
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    position: sticky;
}
.header-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
}
#header-conteiner__anchor{
    display: flex;
    justify-content: center;
}
.img-logo{
    width: 10rem;
}
.header-flex {
    display: flex;
    flex-direction: column;
}
.header-article{
    margin: 1rem 0;
    padding: 0.5rem 1rem ;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    order: 2;
    gap: 0.4rem;
    font-size: 1.4rem;
}
.header-article span{
    padding: 0;
    margin: 0;
}
.header-div{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    order: 1;
    gap: 0.75rem;
    justify-content: center;
}
.search-form {
    display: flex;
    width: 90vw;
    /*gap: 10px;*/
}
.search-form__input {
    margin: 1rem 0;
    padding: 0.5rem 0.7rem;
    background-color: white;
    border-radius: 1rem 0 0 1rem;
    border: none;
    width: 550px;
    height: 40px;
}
.search-form__button{
    margin: 1rem 0;
    padding: 0 0.75rem;
    border-radius: 0 1rem 1rem 0;
}
#button-search{
    background-color: #f0bfd0;
}
.fa-search, .fa-heart, .fa-shopping-cart, .fa-plus{
    background-color: white;
    padding: 0.6rem;
    border-radius: 50%;
}
.fa-user{
    background-color: white;
    padding: 0.6rem;
    border-radius: 2rem;
}
.menu-hamburguesa-container{
    display: flex;
}
.menu-hamburguesa{
    background-color: #461111;
    padding: 30px;
    border-radius: 20px;
    margin: 25px 0;
}
.fa-bars{
    color: #fff;
    font-size: 4rem;
}
/*--------Styles para Footer--------*/

footer {
    /*display: flex;*/
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    background-color: #f9efb2;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
    margin-top: 2rem;
    padding: 1rem;
    /*justify-content: space-evenly;*/
    border-radius: 0.5rem;
}
.creditos ul{
    margin: 0.5rem;
}
.creditos li{
    display:none
}
#credito-2, #credito-3{
    display: none;
}
.footer-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.redes{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.fa-instagram, .fa-facebook-square, .fa-twitter-square{
    background-color: white;
    padding: 0.5rem 0.595rem;
    border-radius: 50%;
    font-size: 1.5rem;
}
/*--------Media Queries Celular--------*/
@media(min-width:425px){
    .menu-hamburguesa-container{
        display: none;
    }
    .menu-hamburguesa{
        display: none;
    }
    .fa-bars{
        display: none;
    }
}
@media(max-width:425px){
    .header-flex{
        display: none;
    }
    .header-article{
        display: none;
    }
    header nav{
        display: none;
    }
    .anuncios{
        display: none;
    }
}
/*--------Media Queries Tablet--------*/

@media(min-width: 768px) {

    /*--------Styles para Header-------- */

    header{
        font-size: 1.1rem;
        justify-content: center;
    }
    .header-container{
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }
    .img-logo{
        margin: 0.5rem 2rem;
    }
    .header-article{
        margin-top: 0;
        margin-right: 5rem;
        margin-left: 5rem;
        width: 35rem;
    }
    .search-form {
        width: 40vw; 
    }

    /*--------Styles para Footer--------*/

    footer {
        font-size: 1.1rem;
        display: flex;
        justify-content: space-evenly;
    }
    .creditos ul{
        margin: 0.6rem;
    }
    .creditos li{
        display: block;
        text-align: center;
        line-height: 1.5rem;
        list-style-type: none
    }
    #credito-2{
        display: inline-block;
    }
    .footer-bot{
        gap: 0.6rem;
    }
    .redes{
        gap: 1.1rem;
    }
    .fa-instagram, .fa-facebook-square, .fa-twitter-square{
        padding: 0.6rem 0.695rem;
        font-size: 1.6rem;
    }
}

/*--------Media Queries Escritorio--------*/

@media(min-width: 1240px) {

    /*--------Styles para Header-------- */

    header{
        font-size: 1.2rem;
        padding: 0.6rem 0;
    }
    .header-container{
        gap: 15rem;

    }
    .header-article{
        margin-bottom: 1rem;
        margin-right: 0;
        margin-left: 0;
        order: 1;
    }
    .header-div{
        order: 2;
    }  

    /*--------Styles para Footer--------*/

    footer {
        font-size: 1.2rem;
    }
    .creditos ul{
        margin: 0.7rem;
    }
    .creditos li{
        line-height: 1.7rem;
    }
    #credito-3{
        display: inline-block;
    }
    .footer-bot{
        gap: 0.7rem;
    }
    .redes{
        gap: 1.2rem;
    }
    .fa-instagram, .fa-facebook-square, .fa-twitter-square{
        padding: 0.7rem 0.795rem;
        font-size: 1.7rem;
    }

}
