/*--------Styles para Main--------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/*--------Styles para Main Section Articles--------*/

.section-articles{
    display: none;
}

/*--------Styles para Main Section Product--------*/

.section-product{
    display: flex;
}
.section-product img{
    width: 90vw;
    border-radius: 0.5rem;
}

/*--------Styles para Main Section Form--------*/

.section-form, .section-comments{
    width: 90vw;
    padding: 0.75rem;
    background-color: #f9efb2;
    border-radius: 0.5rem;
}
#form>div{
    margin-top: 1rem;
}
#form-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#form-title>h1{
    margin: 0;
    font-size: 2.2rem;
}
#button-heart{
    background-color: #f9efb2;
    align-self: flex-start;
    padding-top: 0.3rem;
    margin: 0 1.75rem 0 1.5rem;
}
#button-heart .fa-heart{
    background-color: #f9efb2;
    padding: 0;
    font-size: 1.85rem;
}
#form-price{
    font-size: 1.6rem;
}
#form-color, #form-talle{
    display: block;
    font-size: 1.15rem;
    margin-bottom: 0.8rem;
    text-decoration: underline wavy;
}
.radio{
    margin-right: 1rem;
}
#button-submit{
    cursor: pointer;
    background-color: #acc94a;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
    text-align: center;
    font-size: 1.45rem;
    margin-top: 1.5rem !important;
    transition: background-color 300ms;
}
#button-submit button, #button-add, #button-edit{
    transition: background-color 300ms;
}
#button-submit:hover button,
#button-submit:hover,
#button-add:hover,
#button-edit:hover{
    background-color: #bfdb62;
}
.buttons-add-edit{
    display: flex;
    margin-top: 0.5rem !important;
    gap: 0.5rem;
}
#button-add, #button-edit{
    width: 50%;
    padding: 0.4rem 0.7rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #acc94a;
    border-radius: 0.25rem;
    text-align: center;
    transition: background-color 300ms
}
.form-div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-div>h3{
    font-size: 1.45rem;
}
#form-compartir>h3{
    margin-bottom: 0.65rem;
}
#form-compartir>.redes{
    margin-bottom: 0.85rem;
}
.fa-pinterest-square, .fa-whatsapp, .fa-tiktok{
    background-color: white;
    padding: 0.5rem 0.595rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

/*--------Styles para Main Section Articles 2--------*/

.section-articles-2{
    display: none;
}

/*--------Styles para Main Section Comments--------*/

.section-comments{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding-bottom: 2rem;
}
#section-comments-title{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#section-comments-title>h2{
    font-size: 1.9rem;
    text-decoration: underline;
}
#section-comments-punctuation{
    display: flex;
    align-items: center;
}
#punctuation{
    font-size: 1.5rem;
    margin-right: 0.4rem;
}
#section-comments-punctuation>.fa-star{
    font-size: 1.25rem;
}
.section-comments__punctuation{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.section-comments__punctuation .fa-circle{
    font-size: 0.65rem;
    margin-right: 0.5rem;
}
.section-comments__name{
    font-size: 1.2rem;
    margin-right: 2.2rem;
}
.punctuation{
    font-size: 1.2rem;
    margin-right: 0.4rem;
    align-self: flex-start;
}
.section-comments__punctuation .fa-star{
    align-self: flex-start;
    padding-top: 0.25rem;
}

/*--------Media Queries Tablet--------*/

@media(min-width: 768px) {

    /*--------Styles para Main-------- */

    main{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }

    /*--------Styles para Main Section Articles--------*/

    .section-articles{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .section-articles__article img{
        width: 10rem;
        border-radius: 0.5rem;
    }

    /*--------Styles para Main Section Product--------*/

    .section-product{
        display: flex;
        align-items: flex-start;
    }
    .section-product img{
        width: 31.1rem;
        border-radius: 0.5rem;
    }

    /*--------Styles para Main Section Form--------*/

    .section-form, .section-comments{
        font-size: 1.1rem;
        width: 88vw;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    #form>div{
        margin-top: 1.1rem;
    }
    #form-title>h1{
        margin: 0;
        font-size: 2.1rem;
    }
    #button-heart{
        padding-top: 0.4rem;
        margin: 0 1.85rem 0 1.6rem;
    }
    #button-heart .fa-heart{
        padding: 0;
        font-size: 1.95rem;
    }
    #form-price{
        font-size: 1.7rem;
    }
    #form-color, #form-talle{
        font-size: 1.25rem;
        margin-bottom: 0.9rem;
    }
    .radio{
        margin-right: 1.1rem;
    }
    #button-submit{
        padding: 0.5rem 0.85rem;
        font-size: 1.55rem;
    }
    #button-add, #button-edit{
        padding: 0.5rem 0.8rem;
        font-size: 1.4rem;
    }
    .form-div{
        gap: 0.6rem;
    }
    .form-div>h3{
        font-size: 1.55rem;
    }
    #form-compartir>h3{
        margin-bottom: 0.75rem;
    }
    #form-compartir>.redes{
        margin-bottom: 0.95rem;
    }
    .fa-pinterest-square, .fa-whatsapp, .fa-tiktok{
        padding: 0.6rem 0.695rem;
        font-size: 1.6rem;
    }

    /*--------Styles para Main Section Comments--------*/

    .section-comments{
        padding-top: 1.5rem;
        gap: 1.4rem;
        padding-bottom: 2.25rem;
    }
    #section-comments-title{
        gap: 2.1rem;
    }
    #section-comments-title>h2{
        font-size: 2rem;
    }
    #punctuation{
        font-size: 1.6rem;
        margin-right: 0.5rem;
    }
    #section-comments-punctuation>.fa-star{
        font-size: 1.35rem;
    }
    .section-comments__punctuation{
        margin-bottom: 0.6rem;
    }
    .section-comments__punctuation .fa-circle{
        font-size: 0.75rem;
        margin-right: 0.6rem;
    }
    .section-comments__name{
        font-size: 1.4rem;
        margin-right: 2.3rem;
    }
    .punctuation{
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }
    .section-comments__punctuation .fa-star{
        padding-top: 0.35rem;
    }
}

/*--------Media Queries Escritorio--------*/

@media(min-width: 1240px) {

    /*--------Styles para Main-------- */

    main{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
    }

    /*--------Styles para Main Section Form--------*/

    .section-form{
        font-size: 1.2rem;
        width: 30.6rem;
        padding-right: 1.6rem;
        padding-left: 1.6rem;
        grid-row: 1/4;
        grid-column: 3;
    }
    #form>div{
        margin-top: 1.2rem;
    }
    #form-title>h1{
        margin: 0;
        font-size: 2.2rem;
    }
    #button-heart{
        padding-top: 0.5rem;
        margin: 0 1.95rem 0 1.7rem;
    }
    #button-heart .fa-heart{
        padding: 0;
        font-size: 2.05rem;
    }
    #form-price{
        font-size: 1.8rem;
    }
    #form-color, #form-talle{
        font-size: 1.35rem;
        margin-bottom: 1rem;
    }
    .radio{
        margin-right: 1.2rem;
    }
    #button-submit{
        padding: 0.6rem 0.95rem;
        font-size: 1.65rem;
    }    
    #button-add, #button-edit{
        padding: 0.6rem;
    }
    .form-div{
        gap: 0.7rem;
    }
    .form-div>h3{
        font-size: 1.65rem;
    }
    #form-compartir>h3{
        margin-bottom: 0.85rem;
    }
    #form-compartir>.redes{
        margin-bottom: 1.05rem;
    }
    .fa-pinterest-square, .fa-whatsapp, .fa-tiktok{
        padding: 0.7rem 0.795rem;
        font-size: 1.7rem;
    }

    /*--------Styles para Main Section Articles 2--------*/

    .section-articles-2{
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        grid-row: 2;
        grid-column: 1/3;
    }
    .section-articles-2__article img{
        width: 10rem;
        border-radius: 0.5rem;
    }

    /*--------Styles para Main Section Comments--------*/
    
    .section-comments{
        font-size: 1.2rem;
        width: 42.1rem;
        grid-column: 1/3;
        padding-right: 1.6rem;
        padding-left: 1.6rem;
        padding-top: 1.6rem;
        gap: 1.5rem;
        padding-bottom: 2rem;
        align-self: center;
    }
    #section-comments-title{
        gap: 2.2rem;
    }
    #section-comments-title>h2{
        font-size: 2.1rem;
    }
    #punctuation{
        font-size: 1.7rem;
        margin-right: 0.6rem;
    }
    #section-comments-punctuation>.fa-star{
        font-size: 1.45rem;
    }
    .section-comments__punctuation{
        margin-bottom: 0.7rem;
    }
    .section-comments__punctuation .fa-circle{
        font-size: 0.85rem;
        margin-right: 0.7rem;
    }
    .section-comments__name{
        font-size: 1.5rem;
        margin-right: 2.4rem;
    }
    .punctuation{
        font-size: 1.5rem;
        margin-right: 0.6rem;
    }
    .section-comments__punctuation .fa-star{
        padding-top: 0.45rem;
    }
}