body{
    background-color: #f2f2f2;
}
main {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
*{
    min-width: 0;
}
.shopping-cart{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: rgb(150, 150, 150) 1px solid;
    padding: 2rem;
    border-radius: 2.5rem;
    margin: 2rem 1rem;    
    background-color: #ffffff;
}
.shopping-cart table{
    border-spacing: 0.75rem 1rem;
}
.more-products{
    border-radius: 0.5rem;
    margin: 2rem 1rem;
}
.shopping-cart-section-1 table{    
    display: flex;
    flex-wrap: wrap;
}
.shopping-cart-section-2-title, .more-products-title{
    text-wrap: balance;
    margin: 0 1rem;
}
.shopping-cart p, .more-products p {
    text-wrap: pretty;
}
.shopping-cart button, .more-products button {
    padding: 15px;
}
.shopping-cart-section-1 {
    display: inline-block;
    margin-right: 1.5rem;
}
#button-delete{
    text-align: center;
}
.shopping-cart-section-2 {
    display: inline-block;
}
.shopping-cart-section-2__buy-now {
    background-color: #ACC94A;
    border: none;
    border-radius: 10px;
    color: white;
}
.shopping-cart-section-2__continue-buy{
    background-color: #ACC94A;
    border: none;
    border-radius: 10px;
    color: white;
}
.recommendations__add-button {
    background-color: #ACC94A;
    border: none;
    border-radius: 10px;
    color: white;
}
.recommendations__header{
    background-color: #ffdcc3;
}
.product-recommendation {
    display: inline-block;
}