<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - Ups.. hubo un error</title>
    <link rel="shortcut icon" href="/img/logo/FashionHub-logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="image404">
        <section>
            <h1>¡Ups! ¡Error 404 - Página no encontrada!</h1>
            <p>La página que estás buscando no existe o ha sido eliminada.</p>
            <a href="/"><img src="/img/error-404.png" alt="error-404"></a>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>