<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - CreateProduct</title>
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/Create-product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="container">
            <h1 class="container-title">Subir Producto</h1>
            <p class="container-message">Ingrese los siguientes datos para subir el producto</p>
            <form id="registration-form" action="/product-detail/Create-product" method="post">
                <div class="form-group">
                    <label for="name">Nombre *</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="image">Imagen *</label>
                    <input type="file" id="image" name="image" required>
                </div>
                <div class="form-group">
                    <label for="desc">Descripción *</label>
                    <input type="text" id="desc" name="desc" rows="5" cols="35">
                </div>
                <div class="form-group">
                    <label for="Category">Categoria *</label>
                    <select name="Category" id="Category">
                        <option value="Pantalon">Pantalon</option>
                        <option value="Remera">Remera</option>
                        <option value="Atuendo">Atuendo</option>
                        <option value="Vestido">Vestido</option>
                        <option value="Accesorio">Atuendo</option>
                        <option value="Calzado">Vestido</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="color">Color *</label><br>

                    <label for="Color"><input type="checkbox" id="Color" value="Rojo">Rojo</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Naranja">Naranja</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Amarillo">Amarillo</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Indigo">Lima</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Verde">Verde</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Celeste">Celeste</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Azul">Azul</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Indigo">Indigo</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Rosa">Rosa</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Marron">Marron</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Piel">Piel</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Gris">Gris</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Negro">Negro</label>
                    <label for="Color"><input type="checkbox" id="Color" value="Blanco">Blanco</label>
                </div>
                <div class="form-group">
                    <label for="talle">Talle *</label><br>

                    <label for="talle"><input type="checkbox" id="talle" value="Extra extra large">Extra extra large</label>
                    <label for="talle"><input type="checkbox" id="talle" value="Extra large">Extra large</label>
                    <label for="talle"><input type="checkbox" id="talle" value="Large">Large</label>
                    <label for="talle"><input type="checkbox" id="talle" value="Medium">Medium</label>
                    <label for="talle"><input type="checkbox" id="talle" value="Small">Small</label>
                    <label for="talle"><input type="checkbox" id="talle" value="Extra small">Extra small</label>
                </div>
                <div class="form-group">
                    <button type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="script.js"></script>
</body>
</html>