<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - HOME</title>
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <img src="/img/Banner-ofertas.jpg" alt="Banner-ofertas" class="banner">
        <article>
            <div>
                <img src="/img/pantalon-finne.webp" alt="ropa">
                <a href="/product-detail">
                    <button>
                        <p>Ver Más</p>
                    </button>
                </a>
            </div>
            <div>
                <img src="/img/pantalon-cargo-turci.webp" alt="ropa">
                <a href="/product-detail">
                    <button>
                        <p>Ver Más</p>
                    </button>
                </a>
            </div>
            <div>
                <img src="/img/pantalon-palazzo-artemi.webp" alt="ropa">
                <a href="/product-detail">
                    <button>
                        <p>Ver Más</p>
                    </button>
                </a>
            </div>
            <div>
                <img src="/img/vestido-thomy.webp" alt="ropa">
                <a href="/product-detail">
                    <button>
                        <p>Ver Más</p>
                    </button>
                </a>
            </div>
            <div>
                <img src="/img/remera-blusa-little.webp" alt="ropa">
                <a href="/product-detail">
                    <button>
                        <p>Ver Más</p>
                    </button>
                </a>
            </div>
            <div>
                <img src="/img/vestido-rifa-negro.webp" alt="ropa">
                <a href="/product-detail">
                    <button>
                        <p>Ver Más</p>
                    </button>
                </a>
            </div>
        </article>
        <h1>TAMBIÉN TE PUEDE INTERESAR...</h1>
        <section>
            <div class="sectionBox-shadow">
                <img src="/img/vestido-sunset.webp" alt="ropa">
                <div>
                    <h2>Vestido</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
                    <button>
                        <h5>Ver Más</h5>
                    </button>
                </div>
            </div>
            <div class="sectionBox-shadow">
                <img src="/img/remera-remeron-real-prince.webp" alt="ropa">
                <div>
                    <h2>Vestido</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
                    <button>
                        <h5>Ver Más</h5>
                    </button>
                </div>
            </div>
            <div class="sectionBox-shadow">
                <img src="/img/vestido-rifa-azul.webp" alt="ropa">
                <div>
                    <h2>Vestido</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
                    <button>
                        <h5>Ver Más</h5>
                    </button>
                </div>
            </div>
            <div class="sectionBox-shadow">
                <img src="/img/pantalon-babucha-thiara.webp" alt="ropa">
                <div>
                    <h2>Vestido</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
                    <button>
                        <h5>Ver Más</h5>
                    </button>
                </div>
            </div>
        </section>
        <img src="/img/cabecera-anuncios.png" alt="anuncios" class="anuncios">
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
