<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - Detalle de producto</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/norm-header-footer.css">
    <link rel="stylesheet" href="css/product-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="section-articles">
            <article class="section-articles__article" id="section-articles-1">
                <div class="section-articles__article-div">
                    <img src="/img/accesorio-cartera-crossbody-helen.webp" 
                    alt="Accesorio Cartera Crossbody Helen" 
                    title="Accesorio Cartera Crossbody Helen">
                </div>
            </article>
            <article class="section-articles__article" id="section-articles-2">
                <div class="section-articles__article-div">
                    <img src="/img/calzado-sandalias-cuña-azul.webp" 
                    alt="Calzado Sandalias Cuña Azul" 
                    title="Calzado Sandalias Cuña Azul">
                </div>
            </article>
            <article class="section-articles__article" id="section-articles-3">
                <div class="section-articles__article-div">
                    <img src="/img/remera-blusa-felisa.webp" 
                    alt="Remera Blusa Felisa" 
                    title="Remera Blusa Felisa">
                </div>
            </article>
        </section>
        <section class="section-product">
            <div class="section-product__div">
                <img src="/img/pantalon-finne.webp" alt="Pantalon Finne" title="Pantalon Finne">
            </div>
        </section>
        <section class="section-form">
            <form id="form" action="/" method="POST">
                <div id="form-title">
                    <h1>Pantalon Finne</h1>
                    <button id="button-heart"><i class="far fa-heart"></i></button>
                </div>
                <div>
                    <p id="form-price">$ 15.000</p>
                </div>
                <div>
                    <p id="form-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia facilis ratione, sapiente autem vitae consequuntur molestias eaque suscipit voluptatem, eos, nemo natus quibusdam? Error provident ex assumenda repudiandae quidem nobis.</p>
                </div>
                <div class="form-radio">
                    <label id="form-color">Color:</label>
                    <label class="radio"><input type="radio" name="color" value="rojo"> Rojo</label>
                    <label class="radio"><input type="radio" name="color" value="amarillo"> Amarillo</label>
                    <label class="radio"><input type="radio" name="color" value="rosa"> Rosa</label>
                </div>
                <div class="form-radio">
                    <label id="form-talle">Talle:</label>
                    <label class="radio"><input type="radio" name="talle" value="small"> Small</label>
                    <label class="radio"><input type="radio" name="talle" value="medium"> Medium</label>
                    <label class="radio"><input type="radio" name="talle" value="large"> Large</label>
                </div>
                <div id="button-submit" >
                    <button type="submit" value="add-cart">Añadir al carrito</button>
                </div>
                <div class="buttons-add-edit">
                    <a id="button-add" href="/Create-product">Agregar Producto</a>
                    <a id="button-edit" href="">Editar Producto</a>
                </div>
                <div class="form-div" id="form-saber-talle">
                    <h3>Como saber tu talle:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum sint illum officia itaque quos quia error molestias harum dolorem, similique, praesentium modi quam. Adipisicing elit.</p>
                </div>
                <div class="form-div" id="form-calcular-envio">
                    <h3>Calcular envio:</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem maxime neque placeat totam voluptatem architecto non, ab enim, cumque dicta aperiam similique, eius similique provident.</p>
                </div>
                <div class="form-div" id="form-composicion">
                    <h3>Composición:</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repudiandae amet facere rem labore nulla dolorum obcaecati inventore ullam ad dicta, eius similique provident.</p>
                </div>
                <div class="form-div" id="form-cambios-devoluciones">
                    <h3>Cambios y devoluciones:</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui sapiente sit in quibusdam, numquam vero maxime voluptas sequi, iusto dolorum nostrum nesciunt optio? Cumque dicta aperiam</p>
                </div>
                <div class="form-div" id="form-envios-pagos">
                    <h3>Envios y formas de pago:</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem unde dignissimos laboriosam, officiis cum ad suscipit sed praesentium error, quod, quo nesciunt at quisquam eius similique provident.</p>
                </div>
                <div class="form-div" id="form-compartir">
                    <h3>Compartir</h3>
                    <div class="redes">
                        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://ar.pinterest.com/" target="_blank"><i class="fab fa-pinterest-square"></i></a>
                        <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
            </form>
        </section>
        <section class="section-articles-2">
            <article class="section-articles-2__article" id="section-articles-4">
                <div class="section-articles-2__article-div">
                    <img src="/img/accesorio-cinto-ariadna.webp" 
                    alt="Accesorio Cinto Ariadna" 
                    title="Accesorio Cinto Ariadna">
                </div>
            </article>
            <article class="section-articles-2__article" id="section-articles-5">
                <div class="section-articles-2__article-div">
                    <img src="/img/calzado-sandalias-cuña-piel-pedreria.webp" 
                    alt="Calzado Sandalias Cuña Piel Pedreria" 
                    title="Calzado Sandalias Cuña Piel Pedreria">
                </div>
            </article>
            <article class="section-articles-2__article" id="section-articles-6">
                <div class="section-articles-2__article-div">
                    <img src="/img/remera-evolution.webp" 
                    alt="Remera Evolution" 
                    title="Remera Evolution">
                </div>
            </article>
            <article class="section-articles-2__article" id="section-articles-7">
                <div class="section-articles-2__article-div">
                    <img src="/img/vestido-amelia.webp" 
                    alt="Vestido Amelia" 
                    title="Vestido Amelia">
                </div>
            </article>
        </section>
        <section class="section-comments">
            <div id="section-comments-title">
                <h2>Comentarios</h2>
                <div id="section-comments-punctuation">
                    <p id="punctuation">3</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <article class="section-comments__article">
                <div class="section-comments__punctuation">
                    <i class="fas fa-circle"></i> 
                    <p class="section-comments__name">Diana Chaves</p>
                    <p class="punctuation">4</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="section-comments__comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae excepturi nobis adipisci, magni ad assumenda nulla voluptate id necessitatibus nesciunt vero similique fuga ducimus deleniti ullam? Cum?</p>
            </article>
            <article class="section-comments__article">
                <div class="section-comments__punctuation">
                    <i class="fas fa-circle"></i>
                    <p class="section-comments__name">Nahuel Quispe</p>
                    <p class="punctuation">3</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="section-comments__comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, fuga porro reiciendis eligendi magni hic eius, libero maxime quod ipsum quaerat rerum sequi asperiores quas repudiandae recusandae.</p>
            </article>
            <article class="section-comments__article">
                <div class="section-comments__punctuation">
                    <i class="fas fa-circle"></i>
                    <p class="section-comments__name">Joel Vergara</p>
                    <p class="punctuation">3</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="section-comments__comment">Lorem ipsum dolor sit amet elit. Magnam optio excepturi quasi voluptate reprehenderit eaque reiciendis, ipsam quae suscipit nemo modi corporis amet porro consequuntur quaerat deserunt, sint velit!</p>
            </article>
            <article class="section-comments__article">
                <div class="section-comments__punctuation">
                    <i class="fas fa-circle"></i>
                    <p class="section-comments__name">Victor Pereira</p>
                    <p class="punctuation">2</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="section-comments__comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, repellat. Repellat dolore dolorum ratione perspiciatis, odit tempora accusantium pariatur debitis consequatur numquam velit! Voluptate.</p>
            </article>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>