<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - Carrito de compras</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/shopping-cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="shopping-cart">
            <div class="shopping-cart-section-1">
                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Talle</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td id="button-delete">
                            <div>
                            <img src="" alt="Imagen del producto">
                            <p>Descripcion</p>
                            <button>Delete</button>
                            </div>
                        </td>
                        <td>
                            <select name="talle" id="size">
                                <option value="small">(S) - Small</option>
                                <option value="medium" selected>(M) - Medium</option>
                                <option value="large">(L) - Large</option>
                            </select>
                        </td>
                        <td>
                            <p>$_____</p>
                        </td>
                        <td>
                            <input type="number" id="cantidad" name="cantidad" min="1" max="10" step="1" value="1">
                        </td>
                        <td>
                            <p>$_____</p>
                        </td>
                        
                    </tr>
                </table>
            </div>
            <div class="shopping-cart-section-2">
                <header>
                    <h2 class="shopping-cart-section-2-title">Calcular tiempo y costos de envio</h2>
                </header>
                <section>
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>$_____</td>
                        </tr>
                        <tr>
                            <td>Envio</td>
                            <td>$_____</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$_____</td>
                        </tr>
                    </table>
                    <button class="buy-now">Iniciar Compra</button>
                    <button>Seguir comprando</button>
                </section>
            </div>
        </section>
        <section class="more-products">
            <header>
                <h2 class="more-products-title">Tambien te puede interesar</h2>
            </header>
            <section>
                <div class="product-recommendation">
                    <img src="" alt="product-1">
                    <p>Descripcion del producto</p>
                    <button>Agregar</button>
                </div>
                <div class="product-recommendation">
                    <img src="" alt="product-2">
                    <p>Descripcion del producto</p>
                    <button>Agregar</button>
                </div>
                <div class="product-recommendation">
                    <img src="" alt="product-3">
                    <p>Descripcion del producto</p>
                    <button>Agregar</button>
                </div>
                <div class="product-recommendation">
                    <img src="" alt="product-4">
                    <p>Descripcion del producto</p>
                    <button>Agregar</button>
                </div>
            </section>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>