<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/shopping-cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/FashionHub-logo.png" alt="esto es un logo">
        <article class="one">
            <a href="">Colección</a>  
            <a href="">Accesorios</a>  
            <a href="">Denim</a>  
            <a href="">Sostenibilidad</a>
        </article>
        <div>
            <i class="fas fa-search"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-user"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </header>
    <main>
        <section>
            <div class="shopping-cart-section-1">
                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Talle</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td>
                            <div>
                            <img src="" alt="Imagen del producto">
                            <p>Descripcion</p>
                            <button>Delete</button>
                            </div>
                        </td>
                        <td>
                            <select name="" id="size"></select>
                        </td>
                        <td>
                            <p>$_____</p>
                        </td>
                        <td>
                            <input type="number" id="cantidad" name="cantidad" min="1" max="10" step="1" value="1">
                        </td>
                        <td>
                            <p>$_____</p>
                        </td>
                        
                    </tr>
                </table>
            </div>
            <div class="shopping-cart-section-2">
                <header>
                    <h2>Calcular tiempo y costos de envio</h2>
                </header>
                <section>
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>$_____</td>
                        </tr>
                        <tr>
                            <td>Envio</td>
                            <td>$_____</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$_____</td>
                        </tr>
                    </table>
                    <button class="buy-now">Iniciar Compra</button>
                    <button>Seguir comprando</button>
                </section>

            </div>
        </section>
        <section>
            <header>
                <h2>Tambien te puede interesar</h2>
            </header>
            <section>
                <div class="product-recommendation">
                    <img src="" alt="product-1">
                    <p>Descripcion del producto</p>
                    <button>Agregar</button>
                </div>
                <div class="product-recommendation">
                    <img src="" alt="product-2">
                    <p>Descripcion del producto</p>
                    <button>Agregar</button>
                </div>
                <div class="product-recommendation">
                    <img src="" alt="product-3">
                    <p>Descripcion del producto</p>
                    <button>Agregar</button>
                </div>
                <div class="product-recommendation">
                    <img src="" alt="product-4">
                    <p>Descripcion del producto</p>
                    <button>Agregar</button>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <div class="creditos">
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div class="creditos">
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div class="creditos">
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div class="redes">
            <img src="/img/FashionHub-logo.png" alt="esto es un logo">
            <div>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </footer>
</body>
</html>