<footer>
    <div class="creditos">
        <ul id="credito-1">
            <li>FashionHub se especializará en la publicacion <br> de ropa de moda para Mujeres.<br> El catálogo
                incluirá una amplia<br> variedad de prendas de vestir,<br> desde ropa casual hasta zapatos<br> más
                formales y accesorios de moda.<br> Se prestará especial atención a<br> las últimas tendencias de la moda
                garantizando<br> que los productos reflejen un<br> estilo actualizado y atractivo.</li>
        </ul>
    </div>
    <div class="creditos">
        <ul id="credito-2">
            <li>La audiencia objetivo de FashionHub<br> estará compuesta por Mujeres<br> y apasionados por la moda<br> y
                que buscan productos<br> de alta calidad<br> que reflejen las últimas tendencias.<br> Esta audiencia
                valora la comodidad,<br> el estilo y la<br> conveniencia al comprar en línea.<br> También se orientará a
                aquellos que<br> buscan opciones 100% sostenibles.</li>
        </ul>
    </div>
    </div>
    <div class="footer-bot">
        <img class="img-logo" src="/img/logo/FashionHub-logo.png" alt="Logo FashionHub" title="Logo FashionHub">
        <div class="redes">
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</footer>