<footer>
    <div class="creditos">
        <ul id="credito-1">
            <li>FashionHub se especializará en la venta <br> de ropa de moda para Mujeres.<br> El catálogo incluirá una amplia<br> variedad de prendas de vestir,<br> desde ropa casual hasta artículos<br> más formales y accesorios de moda.<br> Se prestará especial atención a<br> las últimas tendencias de la moda,<br> respetando la sostenibilidad<br> ecologica y garantizando<br> que los productos reflejen un<br> estilo actualizado y atractivo.<br> Además de la ropa, FashionHub<br> ofrecerá servicios adicionales,<br> como envío rápido y seguro,<br> opciones de devolución flexibles.</li>

        </ul>
    </div>
    <div class="creditos">
        <ul id="credito-2">
            <li>La audiencia objetivo de FashionHub<br> estará compuesta por Mujeres<br> de 18 y 40 años de edad,<br> apasionados por la moda<br> y que buscan productos<br> de alta calidad y<br> cuidado con el medio ambiente,<br> que reflejen las últimas tendencias.<br> Esta audiencia valora la comodidad,<br> el estilo y la<br> conveniencia al comprar en línea.<br> También se orientará a aquellos que<br> buscan opciones 100% sostenibles.</li>

        </ul>
    </div>
    </div>
    <div class="footer-bot">
        <img class="img-logo" src="/img/logo/FashionHub-logo.png" alt="Logo FashionHub" title="Logo FashionHub">
        <div class="redes">
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</footer>

<!--//////////----- FOOTER DIANA -----//////////-->

<!--<footer>
    <section>
        <div class="creditos">
            <ul type="none">
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div class="creditos">
            <ul type="none">
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div class="creditos">
            <ul type="none">
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
    </section>
    <div class="redes">
        <img src="/img/FashionHub-logo.png" alt="esto es un logo">
        <div>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
</footer>
-->