<header>
    <a href="/"><img class="img-logo" src="/img/FashionHub-logo.png" alt="Logo FashionHub" title="Logo FashionHub"></a>
    <article class="header-article">
        <a href="">Colección</a><span>|</span>
        <a href="">Accesorios</a><span>|</span>
        <a href="">Denim</a><span>|</span>
        <a href="">Sostenibilidad</a>
    </article>
    <div class="header-div">
        <form action="/search" method="GET">
            <button id="button-search" type="button" value="search"><i class="fas fa-search"></i></button>
        </form>
        <i class="far fa-heart"></i>
        <a class="header-register" href="/register"><i class="far fa-user"><span> Register</span></i></a>
        <a class="header-login" href="/login"><i class="far fa-user"><span> Login</span></i></a>
        <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/Create-product"><i class="fas fa-plus"></i></a>
    </div>
</header>

<!--//////////----- HEADER DIANA -----//////////-->

<!--<header>
    <img src="/img/FashionHub-logo.png" alt="esto es un logo">
    <section>
        <article class="one">
            <a href="">Colección</a>  
            <a href="">Accesorios</a>  
            <a href="">Denim</a>  
            <a href="">Sostenibilidad</a>
        </article>
        <div>
            <i class="fas fa-search"></i>
            <i class="far fa-heart"></i>
            <a href="/login"><i class="far fa-user"></i></a>
            <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </section>
</header>
-->