<header>
    <img src="/img/FashionHub-logo.png" alt="esto es un logo">
    <section>
        <article class="one">
            <a href="">Colección</a>  
            <a href="">Accesorios</a>  
            <a href="">Denim</a>  
            <a href="">Sostenibilidad</a>
        </article>
        <div>
            <i class="fas fa-search"></i>
            <i class="far fa-heart"></i>
            <a href="/login"><i class="far fa-user"></i></a>
            <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </section>
</header>