<header>
    <main class="header-container">
        <a href="/"><img class="img-logo" src="/img/logo/FashionHub-logo.png" alt="Logo FashionHub" title="Logo FashionHub"></a>

        <div class="header-flex ">
            <div class="header-div">
                <% if(locals.isLogged){ %>
                    <a class="header-profile" href="/user/profile"><i class="far fa-user"><span> <%= locals.userLogged.name %></span></i></a>
                    <a class="header-logout" href="/user/logout"><i class="far fa-user"><span> Salir</span></i></a>
                <% }else{ %>
                    <a class="header-register" href="/user/register"><i class="far fa-user"><span> Registrarse</span></i></a>
                    <a class="header-login" href="/user/login"><i class="far fa-user"><span> Ingresar</span></i></a>
                <% } %>
                <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                <a href="/create/create-product"><i class="fas fa-plus"></i></a>
            </div>
            <article class="header-div">
                <form action="/results/search" method="GET" class="search-form">
                    <input type="text" name="keywords" placeholder="Buscar productos, categorias y descripcion" class="search-form__input">
                    <button type="submit" value="search" class="search-form__button">Buscar</button>
                </form>
            </article>
        </div>
    </main>

    <nav>
        <article class="header-article">
            <a href="/collection">Colección</a><span>|</span>
            <a href="/accessories">Accesorios</a><span>|</span>
            <a href="/footwear">Calzado</a><span>|</span>
        </article>
    </nav>
    <main class="menu-hamburguesa-container">
        <a href=""class="menu-hamburguesa"><i class="fas fa-bars"></i></a>
    </main>
</header>