<h1>TAMBIÉN TE PUEDE INTERESAR...</h1>
<section>
    <div>
        <img src="/img/vestido-sunset.webp" alt="ropa">
        <div>
            <h2>Vestido</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
            <button>
                <h5>Ver Más</h5>
            </button>
        </div>
    </div>
    <div>
        <img src="/img/remera-remeron-real-prince.webp" alt="ropa">
        <div>
            <h2>Vestido</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
            <button>
                <h5>Ver Más</h5>
            </button>
        </div>
    </div>
    <div>
        <img src="/img/vestido-rifa-azul.webp" alt="ropa">
        <div>
            <h2>Vestido</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
            <button>
                <h5>Ver Más</h5>
            </button>
        </div>
    </div>
    <div>
        <img src="/img/pantalon-babucha-thiara.webp" alt="ropa">
        <div>
            <h2>Vestido</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, sapiente?</p>
            <button>
                <h5>Ver Más</h5>
            </button>
        </div>
    </div>
</section>